





// ============================================================================
// BASE

*{
  box-sizing: border-box;
}

body{
  line-height: 1.5;
  font-family: $ff-roboto;
  font-size: 16px;
  color: #52756e;
  background-color: #fff;
}

a{
  @include transition-property(color, background-color, opacity);
  @include transition-duration(.2s);
  @include transition-timing-function(ease-in-out);
}

img{
  max-width: 100%;
  max-height: 100%;
}

.container{
  &--has-max-width-on-xs{
    @media (max-width: 767px){
      max-width: 480px;
    }
  }
}
.breadcrumb{
  margin: 0;
  white-space: nowrap;
  &-wrapper{
    background-color: #f5f5f5;
  }
  font-size: 13px;
  a{
    color: $color-s;
  }
  @media (max-width: 767px){
    overflow: auto;
  }
  @media (min-width: 768px){
    overflow: hidden;
  }
}
.modal-content{
  border-radius: 8px;
}
.modal{
  .close{
    position: relative;
    z-index: 1010;
  } 
}
